<div class="py-12">

  <div class="grid md:grid-cols-2 items-center md:gap-4 gap-8   max-w-5xl max-md:max-w-md mx-auto">
    <div class="max-md:order-1 max-md:text-center">
      <h3 class="text-6xl mb-2 leading-tight tracking-tight font-bold text-gray-800">Enjoyable Experience.</h3>
      <div class="mt-4 text-md text-gray-600 mb-8">Laboris qui Lorem ad tempor ut reprehenderit. Nostrud anim nulla officia ea sit deserunt. Eu eu quis anim aute Laboris qui Lorem ad tempor ut reprehenderit.</div>
      <a routerLink="/products" class="px-5 py-4 mt-8 rounded text-lg outline-none tracking-wide bg-blue-600 text-white hover:bg-blue-700">Explore Products</a>
    </div>
    <div>
      <img src="phone.jpg" class="w-full h-full md:object-contain rounded-lg" alt="" />
    </div>
  </div>

</div>
